<form method="post" action="{{ route('base/delete', {'id': category.id}) }}" onsubmit="return confirm('Dieses Element wirklich löschen?');">
    <input type="hidden" name="csrf_token" value="{{ session.get('csrf_token') }}">
    <button class="uk-button uk-button-danger uk-margin-bottom">Löschen</button>
</form>