{% extends('base.html.twig')%}

{% block title %}
    <title>Ringhorn Framework: Übersicht</title>
{% endblock %}

{% block body %}

    {{ flash.show|raw }}

    <h2>Übersicht</h2>

    <a href="{{ route('base/new') }}">Eintrag hinzufügen</a>

    {{ include('components/entity/category/_table.html.twig') }}

    <a href="{{ route('base/new') }}">Eintrag hinzufügen</a>

{% endblock %}
