{% extends 'base.html.twig' %}

{% block body %}
   <h1>
       <a href="{{ link('base/index') }}">{{ controller_name }}</a>
   </h1>

    <ul>
        {% for category in categories %}
            <li>{{ category.title }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        <label>
            User
            <input type="text" name="user">
        </label>
        <button type="submit" name="submit">Absenden</button>
    </form>

{{ flash.show|raw }}


{% endblock %}