{% extends 'base.html.twig' %}

{% block title %}
    <title>Ringhorn Framework: neuer Eintrag</title>
{% endblock %}

{% block body %}
    <section class="uk-section uk-section-small uk-section-primary">
        <div class="uk-container">
            <h2>Eintrag anlegen</h2>
        </div>
    </section>
    <section class="uk-section uk-section-small uk-section-muted">
        <div class="uk-container">
            {{ flash.show|raw }}

            <p>
                <a href="{{ route('base/index') }}">Zurück zur Übersicht</a>
            </p>

            {{ include('base/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
