{% extends 'base.html.twig' %}
{% block title %}
    <title>Fehler</title>
{% endblock %}
{% block body %}
    <section class="uk-section uk-section-primary uk-section-small">
        <div class="uk-container">
            <h2>Es ist ein Fehler aufgetreten</h2>
        </div>
    </section>
    <section class="uk-section uk-section-default uk-section-small">
        <div class="uk-container">
            <p>
                {{ message }}
            </p>
            <a href="{{ route('base/index') }}">Zurück zur Startseite</a>
        </div>
    </section>
{% endblock %}
