@import "~uikit/dist/css/uikit.min.css";
@import "~tablesorter/dist/css/theme.default.min.css";



html, body {
    min-height: 100%;
}

.tablesorter{
    font: 14px/18px Sans-serif!important;
}

.tablesorter thead .disabled {
    display:none;
}

.tablesorter tbody td{
    padding: 8px 16px!important;
}

body{
    font-family: "Arial Narrow", sans-serif;
}

.sprung {visibility: hidden; height: 0 !important; position: absolute; margin: 0;}