{% extends 'base.html.twig' %}

{% block title %}
    <title>Ringhorn Framework: Login</title>
{% endblock %}

{% block body %}
    <section class="uk-section uk-section-small uk-section-primary">
        <div class="uk-container">
            <h2>{{ trans["logout"] }}</h2>
        </div>
    </section>
    <section class="uk-section uk-section-small uk-section-muted">
        <div class="uk-container">

            <p class="uk-text-lead">{{ trans["logoutMessage"] }}</p>



        </div>
    </section>
{% endblock %}
